<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <ng-content select=".title"></ng-content>
    </h5>

    <ng-content></ng-content>
  </div>
</div>




<!-- .card>.card-body>h5.card-title -->
