<!-- (mouseenter)=" hover = playlist"
  (mouseleave)=" hover = null"
  [style.borderLeftColor]="hover == playlist? playlist.color : '' "
   -->
<div class="list-group">
  <div class="list-group-item" *ngFor="let playlist of playlists; index as i; trackBy trackFn" 
  [class.active]="playlist.id == selected?.id"

   [appHighlight]="playlist.color"
  

  (click)="select(playlist)">
    {{i+1}}. {{playlist.name}}
  </div>
</div>

<!-- <div class="list-group">
  <ng-template ngFor [ngForOf]="playlists"
  let-xyz="$implicit" let-i="index">
    <div class="list-group-item">
      {{i+1}}. {{xyz.name}}
    </div>
  </ng-template>
</div> -->
