 :host-context(.promotion) p {
   color: hotpink;
 }

 :host(.bordered) {
   display: block;
   border: 1px solid black
 }

 /* :host ::ng-deep p {
   color: red
 } */

 .list-group-item {
   border-left: 10px solid pink;
 }
