<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">

    <a class="navbar-brand" routerLink="">Navbar</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="search" routerLinkActive="active placki">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active">Playlists</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row mt-3">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
